.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.awsui .awsui-grid .awsui-row {
  display: flex;
  flex-wrap: wrap;
}

.awsui .awsui-grid * {
  box-sizing: border-box;
}
.custom-awsui-util-pt-xxxl {
  padding-top: 40px;
}
.custom-home__header {
  background-color: #232f3e;
  padding-bottom: 30px;
}


.button {
  background: #ec7211;
  background: var(--color-background-button-primary-default-w02sje, #ec7211);
  color: #ffffff;
  color: var(--color-text-button-primary-default-iy7hsx, #ffffff);
  border-color: #ec7211;
  border-color: var(--color-background-button-primary-default-w02sje, #ec7211);
  position: relative;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
